name: sync2gitee(list)
# version: 1.0.0
# author: [yiXu](https://github.com/yi-Xu-0100)
# guide: [yi-Xu-0100/hub-mirror](https://github.com/yi-Xu-0100/hub-mirror)
# template: [sync2gitee.cached.yml](https://github.com/yi-Xu-0100/hub-mirror/blob/main/template/sync2gitee.cached.yml)
# lastmod: 2020-10-14 18:36:15

on:
  workflow_dispatch:
  schedule:
    # UTC 17:30 -> CST (China) 1:30 see https://datetime360.com/cn/utc-cst-china-time/
    - cron: '30 17 * * *'

jobs:
  run:
    name: Sync GitHub to Gitee(Cached)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2.3.3

      - name: Get repo and time
        id: info
        uses: actions/github-script@v3.0.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script: |
            core.setOutput('time', new Date(Date.now()).toISOString().replace(/[^0-9]/g, ""));
            return `${context.repo.owner}-${context.repo.repo}`;
      
      - name: Generate repo list
        id: repo
        uses: yi-Xu-0100/repo-list-generator@v0.0.2
        with:
          user: yi-Xu-0100
          my_token: ${{ secrets.REPO_TOKEN }}

      - name: Cache src repos
        uses: actions/cache@v2.1.2
        id: cache
        with:
          path: ${{ github.workspace }}/hub-mirror-cache
          key: ${{ runner.os }}-${{ steps.info.outputs.result }}-list-cache-${{ steps.info.outputs.time }}
          restore-keys: ${{ runner.os }}-${{ steps.info.outputs.result }}-list-

      - name: Mirror the GitHub repos to Gitee with cache
        uses: Yikun/hub-mirror-action@v0.09
        with:
          src: github/yi-Xu-0100
          dst: gitee/yiXu0100
          dst_key: ${{ secrets.GITEE_PRIVATE_KEY }}
          dst_token: ${{ secrets.GITEE_TOKEN }}
          black_list: 'MyWiki'
          static_list: '${{ steps.repo.outputs.repoList }}'
          cache_path: /github/workspace/hub-mirror-cache
          account_type: user
          force_update: true
          debug: true

      - name: Print cache path
        run: |
          ls -la ${{ github.workspace }}/hub-mirror-cache
